.postCard {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
  }
  
  .postCard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .userCard-info {
    flex-grow: 1;
    text-align: left;
  }
  
  .userCard-name {
    font-weight: bold;
  }
  
  .postCard-comment {
    text-align: left;
  }
  
  .postCard-date {
    color: #777;
    font-size: 12px;
  }
  
  .postCard-title {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .attachmentCard {
    margin-top: 10px;
  }
  
  .attachmentCard a {
    color: #007bff;
    text-decoration: underline;
  }